.header img{
    width: 100%;
    max-height: 300px;
}

footer {
    width:100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    padding: 10px;

    background: #228B22;
}
.addform {
    position: relative;
    width: 600px;
    left: 500px;

}
.addform span{
    display: inline-block;
    width: 50px;
}
.addform input{
    width: 200px;
    padding: 5px 15px;
    margin: 20px;
}
.addform  textarea{
    width: 700px;
    height: 200px;
}
.addform button{
    margin: 10px;
    position: relative;
    left: 250px;
    text-align: center;
    padding: 10px 30px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.addform button:hover{
    background-color: #4169E1;
    transform: scale(1.2);
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}